@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #007bff;
    --secondary-color: #0056b3;
    --background-color: #f8f9fa;
    --text-color: #333;
    --accent-color: #fdf3e6;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    background-image: linear-gradient(to right, rgba(101, 180, 233, 0.603), rgb(47, 98, 139));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.6);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.label-float input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid var(--primary-color);
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all 0.3s ease-out;
    border-radius: 0;
}

.label-float {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus {
    border-bottom: 2px solid var(--secondary-color);
}

.label-float label {
    color: var(--primary-color);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all 0.3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label {
    font-size: 13px;
    margin-top: 0;
    color: var(--secondary-color);
}

button {
    background-color: transparent;
    border-color: var(--primary-color);
    color: var(--primary-color);
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all 0.4s ease-out;
}

button:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.justify-center {
    display: flex;
    justify-content: center;
}

hr {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
}

p {
    color: var(--primary-color);
    font-size: 14pt;
    text-align: center;
}

a {
    color: var(--secondary-color);
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

a:hover {
    color: var(--primary-color);
}

.fa-eye {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: var(--primary-color);
}

#msgError {
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}