/* Estilo Geral */

:root {
    --primary-color: #007bff;
    --secondary-color: #0056b3;
    --background-color: #f8f9fa;
    --text-color: #333;
    --accent-color: #fdf3e6;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    margin: auto;
    background-color: var(--background-color);
    color: var(--text-color);
}

main {
    padding: 20px;
    background-color: #f3f5f7;
}

/* Header */
header {
    background-color: var(--text-color);
    color: white;
    text-align: center;
    padding: 8px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
    background-color: var(--secondary-color);
}

/* Hero Section */
.hero-section {
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 60px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.hero-section h2 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
}

.hero-section a {
    color: white;
    text-decoration: none;
}

/* Company Name Section */

#company-name{
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    color: var(--accent-color);
    padding: 15px;
}


#company-name h2 {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.company-name {
    background-color: var(--background-color: #f8f9fa);
    color: var(--text-color: #333;);
    padding: 15px;
}

.company-name h2 {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
}

/* Destaques Section */
.highlight-section {
    background-color: #f0f8ff;
    padding: 3rem 1rem;
    text-align: center;
}

/* Carrossel */
.carousel {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.carousel-item img {
    width: 400px; /* Faz com que a imagem ocupe 100% da largura do item do carrossel */
    height: 200px; /* Define uma altura fixa para as imagens */
    object-fit: cover; /* Mantém a proporção da imagem e preenche o espaço */
    border-radius: 8px; /* Adiciona bordas arredondadas às imagens */
}

/* Serviços Section */
.services-section {
    background: linear-gradient(to right, var(--background-color), #e0e0e0);
    padding: 3rem 1rem;
    text-align: center;
}

.services-section h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #333;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
}

.service-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    padding: 1.5rem;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.service-card h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 1rem;
}

.service-card p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

#servicesChart {
    max-width: 600px;
    margin: 0 auto;
}

/* Depoimentos Section */
#depoimentos {
    text-align: center;
}

.testimonials-section {
    background-color: var(--accent-color);
    padding: 3rem 1rem;
    text-align: center;
}

/* Agendamento Section */
.agendamento-section {
    background-color: white;
    padding: 3rem 1rem;
    text-align: center;
}

#agendamento-form {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Formulário de Contato */
.contact-section {
    background-color: #f5f6f7;
    padding: 3rem 1rem;
    text-align: center;
}

.contact-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.contact-section p {
    margin-bottom: 2rem;
    color: #555;
}

#contact-form {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

form .form-group {
    margin-bottom: 1.5rem;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

form input,
form textarea {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input:focus,
form textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

form textarea {
    resize: vertical;
}

form .button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

form .button:hover {
    background-color: #0056b3;
}

/* Chatbot */
.chatbot {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
    overflow-y: scroll;
}

.chatbot-header {
    background-color: #007bff;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.chatbot-close {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.chatbot-body {
    padding: 1rem;
    max-height: 300px;
    overflow-y: auto;
}

.chatbot-footer {
    display: flex;
    gap: 0.5rem;
}

.chatbot-footer input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.chatbot-footer button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.chatbot-toggle {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.car-details {
    text-align: left;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 2rem auto;
}

.car-details h2 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.car-details img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.car-details ul {
    list-style: none;
    padding: 0;
}

.car-details ul li {
    margin-bottom: 0.5rem;
}

.car-details button {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.car-details button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

/* Responsividade */
@media (max-width: 768px) {
    .hero-section h2 {
        font-size: 3rem;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        max-width: 80%;
    }
}

@media (max-width: 480px)